.Cell {
  height: 10rem;
  width: 10rem;
  background-color: rgb(53, 0, 199);
  border-radius: 5px;
}

@media only screen and (max-width: 31.25em) {
  .Cell {
    height: 6rem;
    width: 6rem;
  }
}

.Cell-lit {
  background-color: rgb(255, 255, 255);
}